@{
    ViewData["Title"] = "Home";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EscolaMilitar</title>
    <script src ="~/js/main.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EscolaMilitar.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="topnav">
        <!--<a class="active" href="#home">Início</a>-->
        <a href="https://localhost:7229/Home/Index">Início</a>
        <a href="https://localhost:7229/Home/SignIn">Entrar</a>
        <a href="https://localhost:7229/Home/Create">Inscrições</a>
        <a href="https://localhost:7229/Home/News">Notícias</a>
        <a href="https://localhost:7229/Home/Lists">Listas</a>
        <a href="https://localhost:7229/Home/Contacts">Contacto</a>
        <a href="https://localhost:7229/Home/About">Sobre</a>
    </div>
    <div class="container">
        <img src="https://i.ibb.co/HP0gb9v/Exercito-New-Logo.png" alt="simbolo" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EscolaMilitar - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
