@model IEnumerable<EscolaMilitar.Models.Registos>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width , initial-scale=1.0" />
    <title>Acesso Negado</title>
</head>
<body>
    <br />
    <br />
    <h4 id="denied">Acesso Negado</h4>
    <div class="container">
        <p>Não tem permissão para aceder a esta página.</p>
    </div>
</body>
</html>



